<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
	<!--<head th:replace="common/header :: navbar" />-->
<body>
	<!-- Login Section -->
<head th:replace="common/header :: navbar" />
<div class="container">
	<div class="row ">
		
		<div class="table-responsive">
			<table id="example"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Season</th>
						<th>Date</th>
						<th>home team id</th>
						<th>away team id</th>
						<th>home team goal</th>
						<th>home team goal</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="match : ${matches}">
						<td data-th-text="${match.season}">...</td>
						<td data-th-text="${match.date}">...</td>
						<td data-th-text="${match.home_team_id}">...</td>
						<td data-th-text="${match.away_team_id}">...</td>
						<td data-th-text="${match.home_goal}">...</td>
						<td data-th-text="${match.away_goal}">...</td>
<!-- 						<td data-th-text="lol">...</td> -->
<!-- 						<td data-th-text="lol">...</td> -->
<!-- 						<td data-th-text="lol">...</td> -->
<!-- 						<td data-th-text="lol">...</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div th:replace="common/header :: body-bottom-scripts" />
<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>
</body>
</html>