<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<body>
<head th:replace="common/header :: header" />
<head th:replace="common/header :: navbar" />
<div class="row">

	<div class="container">
		<div class="table-responsive">
			<table id="example"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Season</th>
						<th>Date</th>
						<th>home team</th>
						<th>home team goal</th>
						<th>home team goal</th>
						<th>away team</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="game : ${games}">
						<td data-th-text="${game.season}">...</td>
						<td data-th-text="${game.date}">...</td>
						<td data-th-text="${game.home_team_short_name}">...</td>
						<td data-th-text="${game.home_goal}">...</td>
						<td data-th-text="${game.away_goal}">...</td>
						<td data-th-text="${game.away_team_short_name}">...</td>
					</tr>
				</tbody>
			</table>
		</div>
		`
	</div>




</div>

<div th:replace="common/header :: footer"></div>
<div th:replace="common/header :: body-bottom-scripts" /></div>

<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>
</body>

</html>