<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>User Front</title>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Website Font style -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One'
	rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />

<!--bootstrap date-time picker-->
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<!--data table-->
<link href="/css/jquery.dataTable.min.css" rel="stylesheet" />
<link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<!-- Custom CSS -->
<!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->
<link href="/css/main2.css" rel="stylesheet" />
</head>
<body>
	<!-- Navigation -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-default " role="navigation">
			<div class="container">

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse  navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Leagues <span class="caret"></span></a>
							<ul class="dropdown-menu" th:value="@{league}"
								th:name="league_id" id="league_id">
								<li>
									<!-- 								th:href="@{'/bestDictators?search='+${search}+'&amp;firstPosition='+${dictators.get(0).getUser().getId()}}" -->
									<a th:href="@{'/match/show?id=' +${league.id}}"
									th:each="league : ${leagues}" th:value="${league.id}"
									th:text="${league.name}"> </a>
								</li>

							</ul></li>

						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false" th:if="${seasons}" >Seasons <span class="caret"></span></a>
							<ul class="dropdown-menu" th:value="@{season}"
								th:name="season" id="season">
								<li>
									
									<a th:href="@{'/match/show?season=' +${season}}"
									th:each="season : ${seasons}" th:value="${season}"
									th:text="${season}"> </a>
								</li>

							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Appointment <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/appointment/create}">Schedule an
										Appointment</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Me <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/user/profile}">Profile</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/logout}">Logout</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
	</div>
	<div th:fragment="card1" class="card">
		<h2>Fragment card1</h2>
		<h5>Title description, Dec 7, 2017</h5>
		<div class="fakeimg" style="height: 200px;">Image</div>
		<p>Some text..</p>
		<p>Sunt in culpa qui officia deserunt mollit anim id est laborum
			consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			exercitation ullamco.</p>
	</div>
	<div th:fragment="card2" class="card">
		<h2>Fragment card2</h2>
		<h5>Title description, Dec 7, 2017</h5>
		<div class="fakeimg" style="height: 200px;">Image</div>
		<p>Some text..</p>
		<p>Sunt in culpa qui officia deserunt mollit anim id est laborum
			consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			exercitation ullamco.</p>
	</div>
	<div th:fragment="rightcolumn" class="rightcolumn" align="right">
		<div class="card">
			<h2>About Me</h2>
			<div class="fakeimg" style="height: 100px;">Image</div>
			<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
		</div>
		<div class="card">
			<h3>Popular Post</h3>
			<div class="fakeimg">
				<p>Image</p>
			</div>
			<div class="fakeimg">
				<p>Image</p>
			</div>
			<div class="fakeimg">
				<p>Image</p>
			</div>
		</div>
		<div class="card">
			<h3>Follow Me</h3>
			<p>Some text..</p>
		</div>
	</div>
	<div th:fragment="header" class="header">
		<h1>SoccerData</h1>
		<p>Resize the browser window to see the effect.</p>
	</div>
	<div th:fragment="footer" class="footer">
		<h2>Footer</h2>
	</div>
	<div th:fragment="body-bottom-scripts">
		<!-- jQuery -->
		<script src="/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

		<script src="/js/jquery.easing.min.js"></script>

		<!--bootstrap date-time picker-->
		<script src="/js/bootstrap-datetimepicker.min.js"></script>

		<!--bootbox-->
		<script src="/js/bootbox.min.js"></script>

		<!--data table-->
		<script src="/js/jquery.dataTables.min.js"></script>
		<script src="/js/dataTables.bootstrap.min.js"></script>

		<!--main js-->
		<script src="/js/main.js"></script>
	</div>

</body>
</html>